@import './alert.css';

body {
    background-color: #EEF2E6;
}

* {
    margin: 0;
    padding: 0;
}

.header-logo {
    max-width: 50%;
    min-width: 200px;
    max-height: 50%;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
    background-color: #3D8361;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.imgbox {
    display: grid;
    height: 13vh;
    max-height: 90px;
    background-color: #3D8361;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23eef2e6' fill-opacity='0.42'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");    margin-bottom: 2vh;
}

.container {
    display: grid;
    grid-template-rows: 20fr 9fr 43fr 14fr 14fr;
    grid-row-gap: 0.25rem;
    min-width: 0;
    height: 100vh;
}

/* Header */
.banner-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
}

.logo {
    letter-spacing: 0.1em;
    /* Vertically align WITHOUT FLEXBOX*/
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-text {
    position: relative;
    padding-top: 30px;
    line-height: 10px;
    font-size: 58px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #386641;
}

.subtitle-text {
    display: block;
    position: relative;
    margin-top: 10vh;
    padding-top: 20px;
    line-height: 10px;
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}

/* Search area */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    padding-left: calc(100px / 2);
}

.search-aligned {
    display:relative;
}

.search-box {
    height: 40px;
    width: 60%;   
    display: relative;
    float: left;
}

.search-input {
    font-family: 'Be Vietnam Pro', sans-serif, 'Font Awesome 5 Free';
    border-width: 1px;
    letter-spacing: 0.05em;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    font-size: 1.3vw;
    border-radius: 16px;
}

.add-entry {
    height: 40px;
    width: 20%;
    display: relative;
    float: right;
}

.add-btn {
    border-radius: 16px;
    float: right;
    height: 42px;
    width: 70%;
    border: none;
    background-color: #3D8361;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #46966f;
}

/* prevents text resizing when viewport resizes
wouldn't work until I put the font-size in media query*/
@media screen {
    .search-input {
        font-size: 20px;
    }
    .plus-icon {
        font-size: 25px !important;
    }
}

/* Table */
.table {
    display: flex;
    justify-content: center;
}

table {
    font-family: 'Noto Sans', sans-serif;;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    table-layout: fixed;
}

thead {
    box-shadow: 0 5px 10px #e1e5ee !important;
    color: black !important;
}

th {
    font-weight: normal;    
    padding: 0.5rem 2rem;
}

tr:nth-child(even) {
    background-color: #f4f6fb;;
    overflow-x: scroll;
}

td {
    font-weight: bold;
    padding: 0rem 2rem;
    overflow-x: scroll;
}

.icon-header {
    width: 3.3rem;
}

@media screen and (max-width: 700px) {
    table, th, td {
        border: 1px solid;
    }
    
    th {
        padding: 0.5rem 0rem;
    }

    td { 
        padding: 0rem 0rem;
    }
}

/* Add entry modal */
.modal {
    padding: 20px;
    border-radius: 10px;
    border-width: 10px;
    border: black;
    box-shadow: 0 5px 10px #000000 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #3D8361;
    transform: translate(-50%, -50%);
}

#add-modal {
    display: none;
}

#edit-modal {
    display: none;
}

#delete-modal {
    display: none;
}

.modal-title {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.modal hr {
    margin-bottom: 25px;
    color: white;
}

.modal p {
    display: block;
    margin: auto;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}

.modal-form input {
    display: block;
    padding: 5px;
    margin: 10px auto 20px auto;
}

.submit-button {
    display: block;
    margin: 10px auto auto auto;
    width: 160px;
    background-color: #c9d5c2;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-color: black;
    box-shadow: 3px 3px black !important;
    border-radius: 12px;
    cursor: pointer;
}
    .submit-button:hover {
        background-color: #EEF2E6;
    }

.close {
    float: right;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    font-size: 30px;
    background-color:#3D8361;
    border: none;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }

  .confirm-delete {
    display: block;
    margin: 10px auto auto auto;
    width: 160px;
    height: 30px;
    background-color: #BA5A45;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-color: rgb(48, 0, 0);
    border-radius: 12px;
    cursor: pointer;
  }
  .confirm-delete:hover {
    background-color: #c72500;
  }

.contact-btn-td {
    padding-right: 0;
    padding-left: 0;
}
.contact-btn-container { 
    display: flex;
    justify-content: space-evenly;

}
.contact-button {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
}

.contact-button *:hover {
    fill: #368707;
    cursor: pointer;
    opacity: 0.8;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    padding-left: calc(100px / 2);
}

.arrow {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.left-btn, .right-btn {
    border-radius: 4px;
    background-color: #3D8361;
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
}

.left-btn:hover, .right-btn:hover {
    background-color: #46966f;
}

button:disabled {
    opacity: 0.3;
    cursor: auto;
}

button:disabled:hover {
    background-color: #3D8361;
}

.footer {
    position: relative;
    padding-left: 15px;
    padding-left: calc(100px / 2);
    min-height: 50px;
}

.footer-img {
    position: absolute;
    bottom: 0;
    left: 3%;
}

.greeting-container {
    display: block;
    margin: 0px 50px 0px 50px;
    float: right;
}

.greeting {
    display: inline;
    font-size: 17px;
}

.logout {
    border: none;
    background: none;
    font-size: 17px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: blue;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}

.switch {
    float: left;
    align-self: flex-end;
    margin-left: 0.9375rem;
    font-family: 'Noto Sans', sans-serif;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    margin-left: 0.3125rem;
    margin-bottom: 5vh;
}

.dark {
    background-color: rgb(40, 40, 40);
    color: #ffffff;
}

.dark .inner-switch {
    border-color: #ffffff;
}

.dark .imgbox {
    background-color:#335447;
}

.dark .subtitle-text {
    color: white;
}

.dark * {
    box-shadow: none;
}

.dark .logout {
    color: rgb(128, 170, 254) !important;   
}

.table *
{
    color: black !important;
}