body {
    background-color: #E3F0C3;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 20fr 9fr 43fr 14fr 14fr;
    grid-row-gap: 0.25rem;
    min-width: 0;
}

/* Header */
.banner-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
}

.logo {
    letter-spacing: 0.1em;
    /* Vertically align WITHOUT FLEXBOX*/
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-text {
    position: relative;
    padding-top: 30px;
    line-height: 10px;
    font-size: 58px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #386641;
}

.subtitle-text {
    position: relative;
    margin-top: 14px;
    padding-top: 30px;
    line-height: 10px;
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #595959;
}

/* Search area */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    padding-left: calc(100px / 2);
}

.search-aligned {
    display:relative;
}

.search-box {
    height: 40px;
    width: 60%;   
    display: relative;
    float: left;
}

.search-input {
    font-family: 'Be Vietnam Pro', sans-serif, 'Font Awesome 5 Free';
    border-width: 1px;
    letter-spacing: 0.05em;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    font-size: 1.3vw;
    border-radius: 16px;
}

.add-entry {
    height: 40px;
    width: 20%;
    display: relative;
    float: right;
}

.add-btn {
    border-radius: 16px;
    float: right;
    height: 42px;
    width: 70%;
    border: none;
    background-color: #386641;
}

.add-btn:hover {
    background-color: #368707;
}

/* prevents text resizing when viewport resizes
wouldn't work until I put the font-size in media query*/
@media screen {
    .search-input {
        font-size: 20px;
    }
    .plus-icon {
        font-size: 25px !important;
    }
}

/* Table */
.table {
    display: flex;
    justify-content: center;
}

table {
    font-family: 'Noto Sans', sans-serif;;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2vw;  
    table-layout: fixed;
}

thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

th {
    font-weight: normal;    
    padding: 0.5rem 2rem;
}

tr:nth-child(even) {
    background-color: #f4f6fb;;
}

td {
    font-weight: bold;
    padding: 0rem 2rem;
}

.icon-header {
    width: 3.3rem;
}

@media screen and (max-width: 0px) {
    th {
        padding: 0.5rem 0rem;
    }

    td { 
        padding: 0rem 0rem;
    }

    table {
        font-size: 2vw;
    }
}

/* Add entry modal */
.add-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px #e1e5ee;
}

.contact-btn-td {
    padding-right: 0;
    padding-left: 0;
}
.contact-btn-container { 
    display: flex;
    justify-content: space-evenly;

}
.contact-button {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
}

.contact-button *:hover {
    fill: #368707;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    padding-left: calc(100px / 2);
}

.arrow {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.right-btn {
    border-radius: 4px;
    background-color: #386641;
    height: 45px;
    width: 45px;
    border: none;
}

.left-btn {
    border-radius: 4px;
    background-color: #386641;
    height: 45px;
    width: 45px;
    border: none;
}

.footer {
    padding-left: 15px;
    padding-left: calc(100px / 2);
}