body {
    background-color: #E3F0C3;
}

.header-image {
    width: 100%;
}

.header-logo {
    max-width: 100%;
    min-width: 200px;
    max-height: 100%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

.imgbox {
    display: grid;
    height: 100%;
}

.sign-in-container {
    position: relative;
    height: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-in-subcontainer {
    width: 437px;
    height: 100%;
}

.sign-in {
    position: absolute;
    height: 100%;
    width: 437px;
    max-width:100%;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
}

.sign-in-text {
    max-width: 100%;
    font-weight: 400;
    font-size: 42px;
    line-height: 76px;
    margin-top: 0px;
    margin-bottom: 17px;
    text-align: center;
}

.user-pass-text {
    font-weight: bold;
    max-width: 100%;
    font-size: 22px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 5px;
}


.user-pass-input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 41px;
    font-size: 22px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
    border-width: 1px;
}

.user-pass-input-short {
    width: 100%;
    height: 41px;
    font-size: 20px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
    border-width: 1px;
    box-sizing: border-box;
}

.login-button {
    max-width: 100%;
    width: 437px;
    height: 47px;
    margin-top: 3px;
    background-color: #386641;
    border-radius: 7px;
    border-width: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background-color: #368707;
}

.signup-prompt {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.signup-prompt-butt {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: blue;
}

.signup-prompt-butt:hover {
    text-decoration: underline;
}

.sign-up-container {
    position: relative;
    height: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-up-subcontainer {
    width: 437px;
    max-width: 100%;
    height: 100%;
}

.sign-up {
    position: absolute;
    height: 100%;
    width: 437px;
    max-width: 100%;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
}

.sign-up-text {
    font-weight: 400;
    font-size: 42px;
    line-height: 76px;
    margin-top: 0px;
    margin-bottom: 17px;
    text-align: center;
}

.sign-up-button {
    width: 437px;
    max-width: 100%;
    height: 47px;
    margin-top: 3px;
    background-color: #386641;
    border-radius: 7px;
    border-width: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #368707;
}

.login-prompt {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.login-prompt-butt {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: blue;
}

.login-prompt-butt:hover {
    text-decoration: underline;
}

.sign-up-spacer {
    margin-left: 78px;
}

.red-astrix {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 5px;
    color: red;
}

.header-background {
    background-image: url('../images/Rectangle.svg');
    display: inline-block;
    height: 80px;
    width: 100%;
}

.first-name {
    width: 216px;
    height: 100px;
    margin: 0px;
}

.last-name {
    width: 216px;
    height: 100px;
    margin: 0px;
}

.names-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.signup-form {
    font-size: 0;
}

.short-form-container {
    font-size: 0;
    display: inline-block;
    max-width: 49%;
}

.form-label {
    font-size: 22px;
    display: block;
    max-width: 100%;
    padding: 0, 0, 0, 0;
    margin: 0, 0, 0, 0;
}

.title-text {
    position: relative;
    padding-top: 30px;
    line-height: 10px;
    font-weight: 500;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #386641;
}

.subtitle-text {
    position: relative;
    padding-top: 30px;
    line-height: 10px;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #595959;
}

.body-text {
    position: relative;
    line-height: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #386641;
}

.table-format {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    overflow: hidden;
    display: grid;
    width: 100%;
}

.new-contact-button {
    position: relative;
    float: right;
    padding-left: calc(100% - 34px)
}

.error-message {
    color: red;
}